@import url('http://fonts.googleapis.com/css?family=Roboto');

#github-user-name {
  display: block;
  padding: 5px 8px;
  font-size: 1.4em;
  color: #666;
  max-width: 550px;
  margin: 0 auto 15px auto;
  border: 3px solid var(--color-contact);
  border-radius: 4px;
}

#loader {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.small-name {
  font-size: 0.75em;
  color: #a9a9a9;
  font-style: italic;
}

.repo-list ul li {
  display: inline-block;
}

.repo-list ul li a {
  font-weight: bold;
  padding: 6px 9px;
  font-size: 1.2em;
  line-height: 3rem;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 1px solid #356492;
  border-radius: 3px;
  color: #fff;
  background-color: #3673af;
  background-image: linear-gradient(top, #5597d8, #3673af);
}

.repo-list ul li a:hover {
  background-color: #396895;
  background-image: linear-gradient(top, #4b87c2, #396895);
}