@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..700&family=Exo:wght@100..700');
:root{
  --font-name : "Exo", sans-serif;
  --font-title: "Roboto", sans-serif;
  --color-title   :#fff;
  --color-item    :#fafafa;
  --color-heading :#676767;
  --color-footer  :#525252;
  --color-home    :#e67e22;
  --color-resume  :#9b59b6;
  --color-social  :#f4f4f4;
  --color-contact :#3498db;
  --color-interest:#e74c3c;
  --color-github  :#1c4a6c;
  --color-ci-red  :#e84610;
}

.bg-color-home     { background-color: var(--color-home);}
.bg-color-resume   { background-color: var(--color-resume);}
.bg-color-contact  { background-color: var(--color-contact);}
.bg-color-interest { background-color: var(--color-interest);}
.bg-color-github   { background-color: var(--color-github);}
.bg-color-download { background-color: var(--color-footer);}
.color-item        { color: var(--color-item);}
.color-home        { color: var(--color-home);}
.bg-color-home     { background-color: var(--color-home);}
.color-resume      { color: var(--color-resume);}
.bg-color-resume   { background-color: var(--color-resume);}
.bg-color-social   { background-color: var(--color-social);}
.bg-color-ci-red   { background-color: var(--color-ci-red);}

/** HEADER **/
header { background-color: var(--color-heading); }

/* LOGO */
.logo {
    background: url('../img/rosie-odenkirk-bw.png') center  / cover no-repeat;
    min-height: 360px;
    transition: all .5s ease-in-out;
}
.logo:hover {
    background-image: url('../img/rosie-odenkirk-color.jpg');
}
/* NAME and TITLE */
.name {
    font-family: var(--font-name);
    font-weight: 100;
    font-size: 46px;
    color:var(--color-title);
    padding-right: 1rem;
}
.title {
    font-family: var(--font-title);
    font-weight: 200;
    font-size: 28px;
    color: var(--color-title);
    padding-right: 1rem;
}
ul#nav {
    margin:0;
}
ul#nav > li {
    height: 120px;
}
ul#nav > li > a {
    display: block;
    text-decoration: none;
    height: 100%;
}
ul#nav > li > a > i {
    color: var(--color-item);
    display: block;
    font-size: 1.5rem;
    margin: 32px 0 8px;
}
ul#nav > li > a > span {
    color: var(--color-item);
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 2px;
}

/* Sweep To Bottom hover effect: sourced from https://github.com/IanLunn/Hover/ */
.hvr-sweep-to-bottom {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/** MAIN **/
main {
    background-color: var(--color-title);
    font-family: var(--font-title);
}
main h3 {
    font-family: var(--font-name);
}
main i {
    font-size: 26px;
}
/* PERSONAL INFO */
main div.key {
    font-weight: bold;
    text-transform: uppercase;
}
main div.value {
    word-break: break-all;
    padding-bottom: 15px;
    padding-left: 0;
}
/* WORK HISTORY */
main div.personal-info {
    background-color: var(--color-social);
}
.timeline-item {
    padding: 2em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}
.timeline-item:before {
    content: attr(data-dates);
    display: block;
    position: absolute;
    left: 2.5em;
    top: 1em;
    font-family: var(--font-name);
    font-weight: 500;
    font-size: .8em;
}
.timeline-item:after {
    content: '';
    display: block;
    position: absolute;
    left: -0.4em;
    top: 1em;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    background-color: var(--color-social);
}
/* SKILLS */
.progress {
    height: 2rem;
}
/* CONTACT */
main.contact {
    font-family: var(--font-title);    
}

/** FOOTER **/
footer { 
    background-color: var(--color-footer);
    min-height: 100px;
}

footer h5 {
    font-family: var(--font-name);
    font-weight: 300;
    color:var(--color-item);
}
footer p {
    color:var(--color-title);
}
footer i.fa-download {
    font-size: 18px;
    color: var(--color-title);
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
}
footer i.fa-download:hover {
    color: var(--color-resume);
}

div.social-links i {
    width: 32px;
    height: 32px;
    padding: 12px 0 0 0;
    text-align: center;
    font-size: 13px;
    line-height: 7px;
    border-radius: 50%;
    color: var(--color-social);
    background-color: var(--color-heading);
    transition: all 0.35s ease-in-out;
}
div.social-links i:hover {
    background-color: var(--color-contact);
}

/* GITHUB */
#github-user-name {
    display: block;
    padding: 5px 8px;
    font-size: 1.4em;
    color: #666;
    max-width: 550px;
    margin: 0 auto 15px auto;
    border: 3px solid var(--color-contact);
    border-radius: 4px;
  }
  
  #loader {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  
  .small-name {
    font-size: 0.75em;
    color: #a9a9a9;
    font-style: italic;
  }
  
  .repo-list ul li {
    display: inline-block;
  }
  
  .repo-list ul li a {
    font-weight: bold;
    padding: 6px 9px;
    font-size: 1.2em;
    line-height: 3rem;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid #356492;
    border-radius: 3px;
    color: #fff;
    background-color: #3673af;
    background-image: linear-gradient(top, #5597d8, #3673af);
  }
  
  .repo-list ul li a:hover {
    background-color: #396895;
    background-image: linear-gradient(top, #4b87c2, #396895);
  }