@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..700&family=Exo:wght@100..700');
:root{
  --font-name : "Exo", sans-serif;
  --font-title: "Roboto", sans-serif;
  --color-name-title: #fff;
  --color-item: #fafafa;
}
li {
    border: .5px dotted red;
}

.bg-color-name-title    { background-color: #676767; }
.ui-menu-color-home     { background-color: #e67e22;}
.ui-menu-color-resume   { background-color: #9b59b6;}
.ui-menu-color-contact  { background-color: #3498db;}
.ui-menu-color-download { background-color: #525252;}

.heading {
    margin-left: 50px;
}
.logo {
    background: url('../img/rosie-odenkirk-bw.png') center  / cover no-repeat;
    min-height: 360px;
    transition: all .5s ease-in-out;
}
.logo:hover {
    background-image: url('../img/rosie-odenkirk-color.jpg');
}
.name {
    font-family: var(--font-name);
    font-weight: 100;
    font-size: 46px;
    margin-top:50px;
    color:var(--color-name-title);
}
.title {
    font-family: var(--font-title);
    font-weight: 200;
    font-size: 28px;
    margin-top:20px;
    margin-bottom: 90px;
    color: var(--color-name-title);
}
ul#nav {
    margin:0;
}
ul#nav > li {
    height: 120px;
}
ul#nav > li > a {
    display: block;
    text-decoration: none;
}
ul#nav > li > a > i {
    color: var(--color-item);
    display: block;
    font-size: 1.5rem;
    margin: 32px 0 8px;
}
ul#nav > li > a > span {
    color: var(--color-item);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 2px;
}
